# Data Holders

In [2]:
import pandas as pd

In [38]:
class DataFrameHolder:

    def __init__(self, data: pd.DataFrame, title=''):
        self.data = data
        self.title = title

    def __len__(self):
        return len(self.data)

    def __getitem__(self, item):
        if isinstance(item, list):
            return self.data[item]
        return self.data.iloc[item]

    def query(self, query_str: str):
        result = self.data.query(query_str)
        return DataFrameHolder(result, title=self.title)

    def __repr__(self):
        return self.data.__repr__()

    def _repr_html_(self):
        html = f"<h3>{self.title}</h3>"
        html = html + self.data._repr_html_()
        return html

In [39]:
tables = pd.read_html('https://en.wikipedia.org/wiki/Summer_Olympic_Games', header=1)
data = tables[2]

In [40]:
sports = DataFrameHolder(data, title="Olympic Sports")

In [41]:
sports

                    Sport                              Years
0                 Archery        1900–1908, 1920, since 1972
1       Artistic Swimming                         Since 1984
2               Athletics                                All
3               Badminton                         Since 1992
4                Baseball                    1992–2008, 2020
5              Basketball                         Since 1936
6           Basque pelota                               1900
7                  Boxing             1904, 1908, since 1920
8   Canoeing and kayaking                         Since 1936
9                 Cricket                               1900
10                Croquet                               1900
11                Cycling                                All
12                 Diving                         Since 1904
13             Equestrian                   1900, since 1912
14                Fencing                                All
15           Field hockey             1908, 1920, since 1928
16               Football              1900–1928, since 1936
17                   Golf             1900, 1904, since 2016
18             Gymnastics                                All
19               Handball                   1936, since 1972
20           Jeu de paume                               1908
21                   Judo                   1964, since 1972
22                 Karate                               2020
23               Lacrosse                         1904, 1908
24      Modern pentathlon                         Since 1912
25                  Sport                              Years
26                   Polo       1900, 1908, 1920, 1924, 1936
27                Rackets                               1908
28    Rhythmic gymnastics                         Since 1984
29                  Roque                               1904
30                 Rowing                         Since 1900
31            Rugby union             1900, 1908, 1920, 1924
32           Rugby sevens                         Since 2016
33                Sailing                   1900, since 1908
34               Shooting  1896, 1900, 1908–1924, since 1932
35          Skateboarding                               2020
36               Softball                    1996–2008, 2020
37         Sport climbing                               2020
38                Surfing                               2020
39               Swimming                                All
40           Table tennis                         Since 1988
41              Taekwondo                         Since 2000
42                 Tennis              1896–1924, since 1988
43             Trampoline                         Since 2000
44              Triathlon                         Since 2000
45             Tug of war                          1900–1920
46             Volleyball                         Since 1964
47      Water motorsports                               1908
48             Water Polo                         Since 1900
49          Weightlifting             1896, 1904, since 1920
50              Wrestling                   1896, since 1904

In [42]:
sports.query("Years=='1900'")

            Sport Years
6   Basque pelota  1900
9         Cricket  1900
10        Croquet  1900

In [44]:
sports.query("Years=='1900'").query("Sport=='Cricket'")

     Sport Years
9  Cricket  1900

In [45]:
class CustomDataFrame(pd.DataFrame):
    
    pass

In [46]:
df = CustomDataFrame(sports.data)

In [47]:
df

                    Sport                              Years
0                 Archery        1900–1908, 1920, since 1972
1       Artistic Swimming                         Since 1984
2               Athletics                                All
3               Badminton                         Since 1992
4                Baseball                    1992–2008, 2020
5              Basketball                         Since 1936
6           Basque pelota                               1900
7                  Boxing             1904, 1908, since 1920
8   Canoeing and kayaking                         Since 1936
9                 Cricket                               1900
10                Croquet                               1900
11                Cycling                                All
12                 Diving                         Since 1904
13             Equestrian                   1900, since 1912
14                Fencing                                All
15           Field hockey             1908, 1920, since 1928
16               Football              1900–1928, since 1936
17                   Golf             1900, 1904, since 2016
18             Gymnastics                                All
19               Handball                   1936, since 1972
20           Jeu de paume                               1908
21                   Judo                   1964, since 1972
22                 Karate                               2020
23               Lacrosse                         1904, 1908
24      Modern pentathlon                         Since 1912
25                  Sport                              Years
26                   Polo       1900, 1908, 1920, 1924, 1936
27                Rackets                               1908
28    Rhythmic gymnastics                         Since 1984
29                  Roque                               1904
30                 Rowing                         Since 1900
31            Rugby union             1900, 1908, 1920, 1924
32           Rugby sevens                         Since 2016
33                Sailing                   1900, since 1908
34               Shooting  1896, 1900, 1908–1924, since 1932
35          Skateboarding                               2020
36               Softball                    1996–2008, 2020
37         Sport climbing                               2020
38                Surfing                               2020
39               Swimming                                All
40           Table tennis                         Since 1988
41              Taekwondo                         Since 2000
42                 Tennis              1896–1924, since 1988
43             Trampoline                         Since 2000
44              Triathlon                         Since 2000
45             Tug of war                          1900–1920
46             Volleyball                         Since 1964
47      Water motorsports                               1908
48             Water Polo                         Since 1900
49          Weightlifting             1896, 1904, since 1920
50              Wrestling                   1896, since 1904