In [122]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 50)

In [123]:
tables = pd.read_html('https://www.leaguelineup.com/teams_baseball.asp?url=eosba&teamid=5055885')

ImportError: html5lib not found, please install it

In [133]:
batting = tables[0].rename(columns={'#': "Jersey"})
batting.Jersey = batting.Jersey.fillna(99).astype(int)
batting = batting[~(batting.Jersey==19)]
batting = batting[~(batting.Name == 'Total')]
batting=batting.drop(columns=['Jersey']).set_index('Name')

In [134]:
def rnd(num):
    return np.round(num, 3)
batting['OB'] = batting.OBP * batting.PA
batting.OB = batting.OB.apply(np.round).astype(int)
batting['Walks'] = batting.OB - batting.H
batting['WalkPct'] = batting.Walks / batting.PA
batting.WalkPct = batting.WalkPct.apply(rnd)
batting['KPct'] = batting.K / batting.PA
batting.KPct = batting.KPct.apply(rnd)
batting['SLG'] = batting.TB / batting.PA
batting.SLG = batting.SLG.apply(rnd)

In [136]:
batting.sort_values(['SLG'], ascending=False)

,AVG,GP,PA,AB,R,H,2B,3B,HR,RBI,BB,K,HBP,SB,LOB,TB,OBP,OB,Walks,WalkPct,KPct,SLG
Name,,,,,,,,,,,,,,,,,,,,,,
Dustin Wright,0.750,2,4,4,0,3,2,0,0,2,0,0,0,0,0,5,0.750,3,0,0.000,0.000,1.250
Tristan Simmon,0.615,5,14,13,3,8,2,1,1,0,1,4,0,0,0,15,0.643,9,1,0.071,0.286,1.071
Nicholas Tsetsakos,0.500,2,4,4,0,2,1,0,0,1,0,1,0,0,0,3,0.500,2,0,0.000,0.250,0.750
Jamie Gunning,0.312,7,20,16,1,5,0,1,1,2,3,7,1,0,1,10,0.450,9,4,0.200,0.350,0.500
Damian Wright,0.500,2,4,4,0,2,0,0,0,1,0,2,0,0,0,2,0.500,2,0,0.000,0.500,0.500
Jacob Shanahan,0.437,7,18,16,3,7,0,0,0,2,2,7,0,0,1,7,0.500,9,2,0.111,0.389,0.389
Aydin Dossa,0.417,7,16,12,3,5,0,0,0,0,4,6,0,0,0,5,0.562,9,4,0.250,0.375,0.312
Ellis Chua,0.417,7,18,12,2,5,0,0,0,0,4,5,2,0,1,5,0.611,11,6,0.333,0.278,0.278
Nicholas Acquaviva,0.273,7,15,11,2,3,1,0,0,1,4,8,0,0,0,4,0.467,7,4,0.267,0.533,0.267
Lucas Pavlides,0.333,7,20,12,2,4,1,0,0,0,7,6,1,0,0,5,0.600,12,8,0.400,0.300,0.250
Calvin Timmins,0.231,7,17,13,2,3,0,0,0,1,4,5,0,0,0,3,0.412,7,4,0.235,0.294,0.176
Graydon Hummel,0.250,7,18,12,3,3,0,0,0,2,6,5,0,0,0,3,0.500,9,6,0.333,0.278,0.167
Logan Allison,0.091,6,13,11,0,1,0,0,0,0,2,6,0,0,0,1,0.231,3,2,0.154,0.462,0.077
Travis Maehler,0.000,4,9,5,0,0,0,0,0,0,4,5,0,0,0,0,0.444,4,4,0.444,0.556,0.000

In [137]:
batting.to_csv('../../batting.csv')

In [2]:
import ipywidgets as widgets
import pandas as pd

In [3]:
batting = pd.read_csv('BattingStats.csv')

In [4]:
batting

,Name,AVG,GP,PA,AB,R,H,2B,3B,HR,...,HBP,SB,LOB,TB,OBP,OB,Walks,WalkPct,KPct,SLG
0,Dustin Wright,0.750,2.0,4.0,4.0,0.0,3.0,2.0,0.0,0.0,...,0.0,0.0,0.0,5.0,0.750,3.0,0.0,0.000,0.000,1.250
1,Tristan Simon,0.615,5.0,14.0,13.0,3.0,8.0,2.0,1.0,1.0,...,0.0,0.0,0.0,15.0,0.643,9.0,1.0,0.072,0.286,1.071
2,Nicholas Tsetsakos,0.500,2.0,4.0,4.0,0.0,2.0,1.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.500,2.0,0.0,0.000,0.250,0.750
3,Jamie Gunning,0.312,7.0,20.0,16.0,1.0,5.0,0.0,1.0,1.0,...,1.0,0.0,1.0,10.0,0.450,9.0,4.0,0.200,0.350,0.500
4,Damian Wright,0.500,2.0,4.0,4.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.500,2.0,0.0,0.000,0.500,0.500
5,Jacob Shanahan,0.437,7.0,18.0,16.0,3.0,7.0,0.0,0.0,0.0,...,0.0,0.0,1.0,7.0,0.500,9.0,2.0,0.111,0.389,0.389
6,Aydin Dossa,0.417,7.0,16.0,12.0,3.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,0.562,9.0,4.0,0.250,0.375,0.313
7,Ellis Chua,0.417,7.0,18.0,12.0,2.0,5.0,0.0,0.0,0.0,...,2.0,0.0,1.0,5.0,0.611,11.0,6.0,0.333,0.278,0.278
8,Nicholas Acquaviva,0.273,7.0,15.0,11.0,2.0,3.0,1.0,0.0,0.0,...,0.0,0.0,0.0,4.0,0.467,7.0,4.0,0.267,0.533,0.267
9,Lucas Pavlides,0.333,7.0,20.0,12.0,2.0,4.0,1.0,0.0,0.0,...,1.0,0.0,0.0,5.0,0.600,12.0,8.0,0.400,0.300,0.250
10,Calvin Timmins,0.231,7.0,17.0,13.0,2.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.412,7.0,4.0,0.236,0.294,0.176
11,Graydon Hummel,0.250,7.0,18.0,12.0,3.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.500,9.0,6.0,0.333,0.278,0.167
12,Logan Allison,0.091,6.0,13.0,11.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.231,3.0,2.0,0.154,0.462,0.077
13,Travis Maehler,0.000,4.0,9.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.444,4.0,4.0,0.444,0.556,0.000
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
def get_stats(player:str):
    return batting[batting.Name == player]

In [8]:
get_stats('Jamie Gunning')

,Name,AVG,GP,PA,AB,R,H,2B,3B,HR,...,HBP,SB,LOB,TB,OBP,OB,Walks,WalkPct,KPct,SLG
3,Jamie Gunning,0.312,7.0,20.0,16.0,1.0,5.0,0.0,1.0,1.0,...,1.0,0.0,1.0,10.0,0.45,9.0,4.0,0.2,0.35,0.5

In [24]:
class Filter:
    
    def __init__(self, df: pd.DataFrame, col: str):
        self.col = col
        self.df = df
        
    def __call__(self, name:str):
        return self.df[self.df.Name==name]
    
batting_stats = Filter(batting, 'Name')
batting_stats

In [25]:
batting_stats('Jamie Gunning')

,Name,AVG,GP,PA,AB,R,H,2B,3B,HR,...,HBP,SB,LOB,TB,OBP,OB,Walks,WalkPct,KPct,SLG
3,Jamie Gunning,0.312,7.0,20.0,16.0,1.0,5.0,0.0,1.0,1.0,...,1.0,0.0,1.0,10.0,0.45,9.0,4.0,0.2,0.35,0.5